﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><b>Welcome to the cinema!</b></p>
    <p>Producers <a href="Producers">CLICK</a>.</p>
    <p>Films <a href="Films">CLICK</a>.</p>
    <p>filmsGenres<a href="FilmGenres">CLICK</a>.</p>
    <p>Genres<a href="Genres">CLICK</a>.</p>
</div>